#Geral {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  /* width: 960px;
  height: 700px; */
  margin-top: 10px;
}

/* #chart {
  position: relative;
  display: inline;
} */

/* #sidebar {
  width: 100px;
  display: inline;
} */

#sunburst-layout {
  display: inline-block;
}

#chart {
  width: 800px;
  display: inline-block;
} 

#sidebar {
  display: inline-block;
  width: 100px;
  vertical-align: top;  
} 

/* #legend {
  padding: 10px 0 0 3px;
} */

#sequence text, #legend text {
  font-weight: 600;
  /* fill: #fff; */
}



#chart path {
  stroke: #fff;
}

#explanation {
  /* position: absolute;
  top: 260px;
  left: 305px; */
  width: 100px;
  text-align: center;
  color: black;
  background-color: lightgrey;
  margin-top: 20px;
  /* z-index: -1; */
}

#percentage {
  font-size: 2.5em;
}
