* {
	box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Helvetica, Arial;
}

strong { 
    font-weight: bold;
}

button {
	padding: 4;
}

header {
	background-color: #666;
	padding: 30px;
	text-align: center;
	font-size: 35px;
	color: white;
}		

#legenda-div {
    margin: 20px;
    display: none;
}

.legenda {
    display: inline;
    font-size: .9em;
    padding: 5;
}

.legenda-sunburst {
    display: block;
    font-size: .9em;
    padding: 5;
}
.nav-combos {
	background: rgb(173, 201, 238);
    padding: 10px;
    overflow: overlay;
}		

#timeline-div {
	margin: 20px;
}	

footer {
	background-color: #777;
	padding: 10px;
	text-align: center;
	color: white;
}	

.combos-filtro {
	margin-right: 10px;
	max-width: 200;
}

/****************TABS**************/
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.studentLabelGroup {
    float: left;
    width: 50%;
}